* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

main {
  min-height: 100vh;
  margin-top: 100px;
}

body {
  min-height: 100vh;
}

.header {
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  font-weight: bolder;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo-header {
  width: 130px;
  height: 100px;
}

.icono-menu {
  font-size: 34px;
  color: white;
  text-decoration: none;
  display: none;
}

.icono-cerrar {
  font-size: 34px;
  color: white;
  text-decoration: none;
  display: none;
}

.nav-lista {
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 0%;
  margin-bottom: 0%;
}

.nav-item {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

.flexbox {
  display: flex;
}

.footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0, 4rem;
  font-style: italic;
  font-size: 10px;
  width: 100%;
  z-index: 10000;
  font-weight: bolder;
  height: 10%;
  bottom: 0%;
}

.footer-lista {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
}

.logo-zaina {
  width: 100px;
  height: 70px;
}

.texto-footer {
  margin: 10px;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.redes-footer {
  margin: 10px;
}

.logo-footer {
  width: 20px;
  height: 20px;
  justify-items: center;
  align-items: center;
  margin-top: 5px;
}

.imagen-grande-index {
  margin-bottom: 10px;
  max-height: 1000px;
  max-width: 1400;
}

.titulo-index {
  font-family: 'Montserrat', sans-serif;
  margin-top: 10px;
  font-size: 30px;
  color: #350135;
  text-align: center;
  font-weight: bold;
}

.caja {
  text-align: center;
  margin-top: 30px;
  overflow: hidden;
  padding: 20px;
  border-radius: 35px 0px 35px 0px;
  -moz-border-radius: 35px 0px 35px 0px;
  -webkit-border-radius: 35px 0px 35px 0px;
  border: 2px solid #350135;
  margin: 10px;
}

.parrafo-index {
  margin-bottom: 20px;
  margin: 20px;
  text-align: center;
  font-style: italic;
  margin-block-end: 30px;
}

.grid {
  display: grid;
  padding: 0, 5rem;
  max-height: 1000px;
  max-width: 1500px;
  grid-template-columns: repeat(4, 354px);
  grid-template-rows: 230px;
  grid-template-areas: "imagen-2 imagen-3 imagen-4 imagen-5";
  justify-content: space-between;
  align-content: center;
}

.grid-hijo {
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
}

.grid-hijo-2 {
  grid-area: imagen-2;
  border-radius: 10px;
}

.grid-hijo-3 {
  grid-area: imagen-3;
  border-radius: 10px;
}

.grid-hijo-4 {
  grid-area: imagen-4;
  border-radius: 10px;
}

.grid-hijo-5 {
  grid-area: imagen-5;
  border-radius: 10px;
}

.grid-imagen {
  max-width: 30%;
  max-height: 1500px;
  object-fit: cover;
}

.imagen-index {
  border-radius: 5px solid #350135;
  overflow: hidden;
}

.imagen-index:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.caja {
  text-align: center;
  margin-top: 30px;
  overflow: hidden;
  padding: 20px;
  border-radius: 35px 0px 35px 0px;
  -moz-border-radius: 35px 0px 35px 0px;
  -webkit-border-radius: 35px 0px 35px 0px;
  border: 2px solid #350135;
  margin: 10px;
}

.titulo-nosotros {
  font-size: 30px;
  text-align: center;
  color: #350135;
  margin-top: 20px;
  margin-bottom: 10px;
}

.nosotros-titulo {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  color: #350135;
  margin: 10px;
  padding: 10px;
}

.nosotros-parrafo1 {
  text-align: center;
  padding: 20px;
  font-style: italic;
  align-items: center;
  justify-content: center;
}

.nosotros-parrafo2 {
  text-align: center;
  padding: 20px;
  font-style: italic;
  align-items: center;
  justify-content: center;
}

.caja {
  font-weight: 400px;
  max-width: 1500px;
  text-align: center;
  justify-content: center;
  margin: 10px;
  overflow: hidden;
  padding: 20px;
  border-radius: 35px 0px 35px 0px;
  -moz-border-radius: 35px 0px 35px 0px;
  -webkit-border-radius: 35px 0px 35px 0px;
  border: 2px solid #350135;
}

.nosotros-imagen {
  margin-left: 0%;
  margin-right: 0%;
  width: 80%;
  height: 80%;
  justify-items: center;
  border-radius: 8px;
}

.nosotros-titulo1 {
  font-size: 30px;
  text-align: center;
  font-style: oblique;
  font-weight: bold;
  color: #350135;
  margin: 10px;
  padding: 10px;
}

.nosotros {
  display: flex;
  min-width: 500px;
  max-height: 100%;
  padding: 10px;
  margin: 10px;
  justify-self: center;
  align-items: center;
}

.nosotros2 {
  display: flex;
  flex-direction: row-reverse;
  min-width: 500px;
  max-height: 100%;
  padding: 10px;
  margin: 10px;
  justify-self: center;
  align-items: center;
}

.nosotros-derecha {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nosotros-izquierda {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px;
  border-radius: 10px;
}

.Productos {
  display: flex;
  height: 150%;
  padding: 10px;
  margin: 20px;
  position: relative;
}

.titulo-productos {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  color: #350135;
  margin: 10px;
}

.linea-productos {
  border-top: 2px solid #350135;
  height: 2px;
  max-width: 400px;
  padding: 0;
  left: 0%;
  margin-bottom: 6px;
  margin-top: 10px;
}

.parrafo-productos {
  font-weight: normal;
  text-align: justify;
  line-height: 25px;
  font-style: normal;
}

.subtitulo-productos {
  margin-bottom: 10px;
  font-size: 24px;
}

.span-productos {
  line-height: 20px;
  margin-bottom: 10px;
  text-align: justify;
  font-style: italic;
}

.producto-izquierda {
  width: 50%;
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  line-height: 20px;
  margin-left: 30px;
  margin-top: 45px;
}

.producto-derecha {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  border: 2px;
  margin-top: 10px;
  position: relative;
}

.precio {
  position: absolute;
  bottom: 0%;
  left: 0%;
  background-color: #350135;
  color: white;
  font-size: 20px;
  font-style: inherit;
  font-stretch: expanded;
  font-weight: 500;
  font-display: 10px;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

.envio-gratis {
  position: absolute;
  top: 0%;
  right: 0%;
  background-color: #350135;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

.boton-derecha-productos {
  text-decoration: none;
  font-weight: 200;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: #350135;
  padding: 10px;
  border-radius: 10px;
  position: fixed;
  left: 2rem;
  bottom: 2rem;
  transition: all 1s;
}

.boton-derecha-productos:hover {
  padding: 2rem;
  color: white;
  transform: rotate(45);
}

.boton-derecha-enviar {
  text-decoration: none;
  font-weight: 200;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: #350135;
  padding: 10px;
  border-radius: 10px;
}

ul {
  text-decoration: none;
  list-style: none;
}

.visitas {
  display: flex;
  min-width: 500px;
  max-height: 100%;
  padding: 10px;
  margin: 10px;
}

.titulo-visita {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  color: #350135;
  margin: 10px;
}

.visitas-parrafo {
  margin-bottom: 20px;
  margin: 20px;
  text-align: center;
  font-style: italic;
  margin-block-end: 30px;
}

.visitas-linea {
  border-top: 2px solid #350135;
  height: 2px;
  width: 300px;
  padding: 0;
  margin-bottom: 6px;
  margin-top: 10px;
}

.visitas-derecha {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  padding-top: 20px;
  margin-top: 10px;
}

.visitas-izquierda {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  margin: 5px;
  border-radius: 10px;
}

.visitas-derecha1 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px;
  margin-top: 10px;
}

.visitas-izquierda1 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  border-radius: 10px;
}

.visitas1-titulo {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #350135;
  margin: 10px;
  text-align: center;
}

.visitas-imagen {
  margin-top: 0;
  border-radius: 20px;
  overflow: hidden;
}

.boton-reserva {
  text-decoration: none;
  font-weight: 200;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: #350135;
  padding: 10px;
  border-radius: 10px;
  position: fixed;
  left: 2rem;
  bottom: 2rem;
  transition: all 1s;
}

.boton-reserva:hover {
  padding: 2rem;
  color: white;
  transform: rotate(45);
}

.contacto {
  display: flex;
  min-width: 800px;
  height: 150%;
  padding: 10px;
  margin: 10px;
  margin-bottom: 20px;
}

.titulo-contacto {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  margin-bottom: 10px;
  color: #350135;
  margin: 10px;
  text-align: center;
  font-weight: bold;
}

.caja-contacto {
  text-align: center;
  margin-top: 30px;
  overflow: hidden;
  padding: 20px;
  border-radius: 35px 0px 35px 0px;
  -moz-border-radius: 35px 0px 35px 0px;
  -webkit-border-radius: 35px 0px 35px 0px;
  border: 2px solid #350135;
  margin: 5px;
}

.contacto-izquierda {
  width: 50%;
  display: flex;
  align-items: left;
  flex-direction: column;
  margin: 10px;
  padding: 20px;
}

.contacto-derecha {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  margin: 10px;
  padding: 20px;
}

.titulo-contacto1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: left;
  justify-content: left;
  padding-right: 30px;
}

.contacto-izquierda-dos {
  margin-top: 15px;
  line-height: 10px;
}

.formulario {
  display: flex;
  flex-direction: column;
}

.boton-izquierda {
  text-decoration: none;
  font-weight: 200;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: #350135;
  padding: 10px;
  border-radius: 10px;
}

.boton-izquierda1 {
  text-decoration: none;
  font-weight: 200;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: #350135;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.ubicacion {
  width: 90%;
  height: 350px;
}

.enviar {
  justify-content: flex-end;
}

.boton-derecha {
  text-decoration: none;
  font-weight: 200;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: #350135;
  padding: 10px;
  border-radius: 10px;
}

#exampleFormControlInput1::placeholder {
  color: #350135;
}

#exampleFormControlTextarea1::placeholder {
  color: #350135;
}

.form-select {
  color: #350135;
}

.seccion-item {
  margin: 0 auto;
}

.contacto-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 20px;
  justify-content: center;
}

.item {
  background-color: #350135;
  width: 300px;
  height: 130px;
  color: white;
  padding: 1rem;
  transition: all 2s;
}

.item:hover {
  padding: 2rem;
  color: white;
  transform: rotate(45);
}

.contacto-item-nombre {
  font-size: 18px;
  font-weight: bold;
}

.contacto-item-descripcion {
  font-size: 14px;
  font-style: italic;
}

.item--c1 {
  background-color: #350135;
  text-align: center;
}

.item--c2 {
  background-color: #4b0135;
  text-align: center;
}

.item--c3 {
  background-color: #350135;
  text-align: center;
}

.wpp {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}

@media screen and (max-width: 599px) {
  .nav {
    display: none;
  }
  .icono-menu {
    display: block;
  }
  .nav:target {
    display: block;
    background-color: black;
    filter: alpha(opacity=70);
    -moz-opacity: .70;
    opacity: 0.95;
    color: white;
    position: fixed;
    z-index: 10000;
    right: 0%;
    top: 0%;
    width: 60%;
    height: 70%;
  }
  .nav-lista {
    flex-direction: column;
    padding-right: 30px;
    height: 100%;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
  }
  .icono-cerrar {
    display: block;
  }
  .logo-header {
    width: 65px;
    height: 50px;
  }
  .footer {
    width: 100%;
  }
  .logo-footer {
    width: 15px;
    height: 15px;
  }
  .logo-zaina {
    width: 75px;
    height: 55px;
    align-self: center;
    margin-left: 10px;
  }
  .texto-footer {
    margin: 10px;
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 8px;
  }
  .footer-lista {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
  .imagen-grande-index {
    justify-items: center;
    width: 354px;
    max-height: 500px;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 10px;
  }
  .titulo-index {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin-top: 0,5rem;
    text-align: center;
  }
  .parrafo-index {
    font-size: 12px;
    margin-bottom: 50px;
  }
  .grid {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .nosotros-titulo {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin-top: 0,5rem;
    text-align: center;
  }
  .nosotros-titulo1 {
    font-size: 14px;
    margin-top: 0,5rem;
    text-align: center;
    font-style: oblique;
  }
  .nosotros {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    margin: 0%;
  }
  .nosotros2 {
    display: none;
  }
  .nosotros-izquierda {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    line-height: 20px;
  }
  .nosotros-derecha {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    border-radius: 10px;
    overflow: hidden;
    font-size: 12px;
  }
  .nosotros-parrafos1 {
    width: 100%;
    font-weight: normal;
    text-align: center;
    line-height: 20px;
    font-style: normal;
    font-size: 12px;
  }
  .nosotros-imagen {
    width: 100%;
    justify-content: center;
  }
  .titulo-productos {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin-top: 1rem;
    text-align: center;
  }
  .Productos {
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* margin: 10px; */
  }
  .producto-izquierda {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 20px;
    margin: 0%;
  }
  .producto-derecha {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    border: 2px;
  }
  .subtitulo-productos {
    font-size: 16px;
    margin-top: 1rem;
    text-align: center;
    margin-bottom: 10px;
  }
  .linea-productos {
    display: none;
  }
  .span-productos {
    line-height: 12px;
    font-size: 12px;
    margin-top: 20ppx;
    margin-bottom: 10px;
    text-align: center;
    font-style: italic;
  }
  .parrafo-productos {
    font-weight: normal;
    text-align: left;
    line-height: 20px;
    font-size: 12px;
    max-width: 100%;
  }
  .visitas {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    margin: 0%;
  }
  .titulo-visita {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin-top: 1rem;
    text-align: center;
  }
  .titulo-visitas1 {
    font-weight: bold;
    font-size: 18px;
    margin-top: 0,5rem;
    text-align: center;
    color: black;
  }
  .visitas-derecha {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    border: 2px;
    margin: auto;
  }
  .visitas-izquierda {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 20px;
    margin: auto;
  }
  .visitas-derecha1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    border: 2px;
    margin: auto;
    /* margin-top: 50px; */
  }
  .visitas-izquierda1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 20px;
    margin: auto;
  }
  .visitas-parrafo {
    font-weight: normal;
    text-align: center;
    line-height: 25px;
    font-style: normal;
    font-size: 12px;
    max-width: 100%;
  }
  .linea-visitas {
    display: none;
  }
  .visitas-imagen {
    width: 100%;
    justify-content: center;
  }
  .contacto {
    display: flex;
    flex-direction: column;
    min-width: 0%;
    margin: 0%;
  }
  .titulo-contacto {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin-top: 1rem;
    text-align: center;
  }
  .ubicacion {
    width: 300px;
    height: 150px;
  }
  .exampleFormControlTextarea1 {
    width: 100%;
    margin: auto;
  }
  .form-control {
    width: 300px;
  }
  .boton-izquierda {
    text-decoration: none;
    font-weight: 100;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #350135;
    padding: 6px;
    border-radius: 6px;
  }
  .boton-izquierda1 {
    text-decoration: none;
    font-weight: 100;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #350135;
    padding: 6px;
    border-radius: 6px;
  }
  .boton-derecha {
    text-decoration: none;
    font-weight: 10px;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #350135;
    padding: 6px;
    border-radius: 6px;
  }
  .enviar {
    padding-left: 10px;
  }
  .icono-boton-contacto {
    width: 20px;
    height: 20px;
  }
  .ubicacion {
    max-width: 400px;
    max-height: 100vh;
  }
  .mb-3 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .seccion-item {
    margin-top: 20px;
  }
  .caja {
    border: white;
  }
  .caja-contacto {
    border: white;
  }
}
