.footer {
    background-color: black;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0, 4rem;
    font-style: italic;
    font-size: 10px;
    width: 100%;
    z-index: 10000;
    font-weight: bolder;
    height: 10%;
    bottom: 0%;
 }
 
 .footer-lista {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
 }
 
 .logo-zaina {
    width: 100px;
    height: 70px;
 }
 
 .texto-footer {
    margin: 10px;
    display: flex;
    flex-direction: row;
    text-align: center;
 }
 
 .redes-footer {
 margin: 10px;
 }

 .logo-footer {
width: 20px;
height: 20px;
justify-items: center;
align-items: center;
margin-top: 5px;
 }
 