.imagen-grande-index {
   margin-bottom: 10px;
   max-height: 1000px;
   max-width: 1400;
}

.titulo-index {
   font-family: 'Montserrat', sans-serif;
   // margin-top: 20px;
   // margin-bottom: 20px;
   // padding-top: 50px;
   font-size: $sizeTitulo;
   color: $colorPrincipal;
   text-align: center;
   font-weight: bold;
}
.caja {
   text-align: center;
   margin-top: 30px;
   overflow: hidden;
   padding: 20px;
   border-radius: 35px 0px 35px 0px;
   -moz-border-radius: 35px 0px 35px 0px;
   -webkit-border-radius: 35px 0px 35px 0px;
   border: 2px solid $colorPrincipal;
   margin: 10px;
   }

.parrafo-index {
   margin-bottom: 20px;
   margin: 20px;
   text-align: center;
   font-style: italic;
   margin-block-end: 30px;
}

.grid {
   display: grid;
   padding: 0, 5rem;
   max-height: 1000px;
   max-width: 1500px;
   grid-template-columns: repeat(4, 354px);
   grid-template-rows: 230px;
   grid-template-areas:
      "imagen-2 imagen-3 imagen-4 imagen-5";
   justify-content: space-between;
   align-content: center;
}

.grid-hijo {
   overflow: hidden;
   position: relative;
   margin-bottom: 10px;
}

.grid-hijo-2 {
   grid-area: imagen-2;
   border-radius: 10px;
}

.grid-hijo-3 {
   grid-area: imagen-3;
   border-radius: 10px;
}

.grid-hijo-4 {
   grid-area: imagen-4;
   border-radius: 10px;
}

.grid-hijo-5 {
   grid-area: imagen-5;
   border-radius: 10px;
}

.grid-imagen {
   max-width: 30%;
   max-height: 1500px;
   object-fit: cover;
}

.imagen-index {
   border-radius: 5px solid rgb(53, 1, 53);
   overflow: hidden;
}

.imagen-index:hover {
   -webkit-transform: scale(1.3);
   transform: scale(1.3);}

   .caja {
      text-align: center;
      margin-top: 30px;
      overflow: hidden;
      padding: 20px;
      border-radius: 35px 0px 35px 0px;
      -moz-border-radius: 35px 0px 35px 0px;
      -webkit-border-radius: 35px 0px 35px 0px;
      border: 2px solid $colorPrincipal;
      margin: 10px;
      }
   
