.titulo-nosotros {
   font-size: $sizeTitulo;
   text-align: center;
   color: $colorPrincipal;
   margin-top: 20px;
   margin-bottom: 10px;
}
.nosotros-titulo {
   font-size: $sizeTitulo;
   text-align: center;
   font-weight: bold;
   color: $colorPrincipal;
   margin: 10px;
   padding: 10px;
}
.nosotros-parrafo {
   text-align: center;
   padding: 30px;
   // margin-bottom: 20px;
   margin-left: 20px;
   font-style: italic;
   align-items: center;
}

.caja {
   font-weight: 400px;
   max-width: 1500px;
   text-align: center;
   justify-content: center;
   margin: 10px;
   overflow: hidden;
   padding: 20px;
   border-radius: 35px 0px 35px 0px;
   -moz-border-radius: 35px 0px 35px 0px;
   -webkit-border-radius: 35px 0px 35px 0px;
   border: 2px solid $colorPrincipal;
   ;
}

.nosotros-imagen {
   // border-radius: 300px;
   // overflow: hidden;
   // justify-items: center;
   // align-items: center;
   // margin: 10px;
   // padding: 10px;
   margin-left: 0%;
   margin-right: 0%;
   width: 550px;
    height: 250px;
   //  border-radius:150px;
   //  border-color: $colorPrincipal;
   //  border-style: double;
    justify-items: center;
    border-radius: 8px;
    width: 550px;
    height: 250px;
}

.nosotros-titulo1 {
   font-size: $sizeTitulo;
   text-align: center;
   font-style: oblique;
   font-weight: bold;
   color: $colorPrincipal;
   margin: 10px;
   padding: 10px;
}
// .caja-parrafos {
//    border-radius: 35px 0px 35px 0px;
// -moz-border-radius: 35px 0px 35px 0px;
// -webkit-border-radius: 35px 0px 35px 0px;
// border: 2px solid $colorPrincipal;
// }
// .caja-parrafos1 {
//    border-radius: 0px 35px 0px 35px;
// -moz-border-radius: 0px 35px 0px 35px;
// -webkit-border-radius:0px 35px 0px 35px;
// border: 2px solid $colorPrincipal;
// }
.nosotros {
   display: flex;
   min-width: 500px;
   max-height: 100%;
   padding: 10px;
   margin: 10px;
   justify-self: center;
}

.nosotros2 {
   display: flex;
   min-width: 500px;
   max-height: 100%;
   padding: 10px;
   margin: 10px;
   justify-self: center;
}

.nosotros-derecha {
   width: 50%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin: 10px;
   padding-top: 20px;
   margin-top: 10px;
}

.nosotros-izquierda {
   width: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin: 5px;
   border-radius: 10px;
}