.rojo {
   margin-top: 75px;
}
.nosotros-titulo {
   font-size: $sizeTitulo;
    text-align: center;
    font-weight: bold;
    color: $colorPrincipal;
   //  margin: 10px;
}
.caja {
   text-align: center;
   margin-top: 30px;
   overflow: hidden;
   padding: 20px;
   border-radius: 35px 0px 35px 0px;
   -moz-border-radius: 35px 0px 35px 0px;
   -webkit-border-radius: 35px 0px 35px 0px;
   border: 2px solid $colorPrincipal;
   margin: 10px;
}

.nosotros-parrafo1 {
   text-align: center;
   padding: 10px;
   margin: 20px;
   font-style: italic;
   align-items: center;
   justify-content: center;
}

.nosotros-titulo1 {
   font-size: $sizeTitulo;
   text-align: center;
   font-style: oblique;
   font-weight: bold;
   color: $colorPrincipal;
   margin: 10px;
   padding: 10px;
}

.nosotros {
   display: flex;
   min-width: 500px;
   max-height: 100%;
   padding: 8px;
   // margin: 10px;
   justify-self: center;
   align-items: center;
   background-color: rgba(64, 0, 45, 0.198);
}

.nosotros-derecha {
   width: 45%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0%;

}

.nosotros-izquierda {
   width: 55%;
   display: flex;
   justify-content: left;
   align-items: left;
   flex-direction: column;
   border-radius: 10px;
 margin: -8px;
}

.nosotros2 {
   display: flex;
   flex-direction: row-reverse;
   min-width: 500px;
   max-height: 100%;
   padding: 10px;
   margin: 10px;
   justify-self: center;
   align-items: center;
}

.nosotros-derecha1 {
   width: 55%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0%;

}

.nosotros-izquierda1 {
   width: 45%;
   display: flex;
   justify-content: left;
   align-items: left;
   flex-direction: column;
   border-radius: 10px;
 margin: -8px;
}



.nosotros-imagen {
   margin-left: 0%;
   margin-right: 0%;
   width: 700px;
   height: 50%;
   justify-items: center;
}
.nosotros-parrafo-principal {
   margin-bottom: 10px;
   margin-top: 20px;
   text-align: center;
   font-style: italic;
   margin-block-end: 30px;
   font-size: 22px;
   margin: 20px;
}

.palabras {
   color: $colorPrincipal;
   font-weight: bold;
}