.visitas {
    display: flex;
    min-width: 500px;
    max-height: 400px;
    padding: 10px;
    margin: 10px;
 }
 
 .titulo-visita {
    font-size: $sizeTitulo;
    text-align: center;
    font-weight: bold;
    color: $colorPrincipal;
    margin: 10px;
 }
 .visitas-parrafo {
   margin-bottom: 20px;
   margin: 20px;
   text-align: center;
   font-style: italic;
   margin-block-end: 30px;
}
 .visitas-linea {
    border-top: 2px solid $colorPrincipal;
    height: 2px;
    width: 300px;
    padding: 0;
    margin-bottom: 6px;
    margin-top: 10px;
 }
 
 .visitas-derecha {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
   margin-top: 10px;
 }
 .visitas-izquierda {
    width: 50%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    border-radius: 10px;
 }
 
 .visitas-derecha1 {
    width: 50%;
    display: flex;
    flex-direction: column;
   align-items: center;
    margin: 10px;
    margin-top: 10px;
 }
 
 .visitas-izquierda1 {
    width: 50%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    border-radius: 10px;
 }
 .visitas1-titulo {
   font-family: 'Montserrat', sans-serif;
   font-size: $sizeTitulomenor;
   font-weight: bold;
   color: $colorPrincipal;
   margin: 10px;
   text-align: center;
 }

 .visitas-imagen {
   margin-top: 0;
   border-radius: 20px;
   overflow: hidden;
   height: 90%;
   width: 90%;
 }

